* {
    margin: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 14px;
}

html,
body {
    height: 100%;
}

main {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.cap { 
   padding: 100px 100px 108px 100px;
   text-align: center;
}



h2 {
    font-family:'Raleway';
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
}

h2.textDark {
    color: white; 
    position: relative;
    z-index: 1; 
}


h3 {
    font-family: 'Open Sans';
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    font-style: normal;
}

p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
}

.centerText {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: white;
    margin-top: 18px;
    position: relative;
    z-index: 1;
}

h1::after {
    width: 64px;
    height: 2px;
    left: calc( 100% / 2 - 32px);
}

h1.separator::after {
    content: '';
   background-color: #E72424;
   margin-top: 25px;
   position: absolute;
}

h1.separatorCenter::after {
    content: ''; 
   background-color: white;
   margin-top: 48px;
   position: absolute;
   z-index: 1; 
}

.text {
    font-size: 14px;
    color: gray;
    margin-top: 57px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.textCenter {
    font-size: 16px;
    color: white;
    margin-top: 80px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 300;
    position: relative;
    z-index: 1;
}

.blockMain {
    width: 100%;
    display: flex;
    margin-top: 67px;
}

.blockContainer {
    width: calc(100% / 3);
    padding-left: 16px;
    padding-right: 16px;
}

.blockImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #E72424;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.blockImage img {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
}

.background {
    position: relative;
}

.blockBackground::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    left: 0;
}

.blockBackground {
    background-image: url(background/section.png);
    position: relative;
    width: 100%;
    height: auto;
}

.blockBackgroundText {
    padding-top: 76px;
    text-align: center;
}

form {
    position: relative;
    z-index: 1;
}

input {
    background-color: transparent;
    width: 135px;
    height: 42px;
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 38px;
    border: 1px solid white;
}

.centerFooter {
    background-color: black;
    text-align: center;
    height: 101px;
    padding-bottom: 15px;
}

.centerImage {
    margin-top: 30px;
    position: relative;
    z-index: 1;
}




